@font-face {
  font-family: 'lemon-milk';
  src: url('/fonts/lemon-milk/lemonmilk-Regular.otf');
}
@font-face {
  font-family: 'lemon-milk-bold';
  src: url('/fonts/lemon-milk/lemonmilk-Bold.otf');
}
@font-face {
  font-family: 'manrope';
  src: url('/fonts/manrope/Manrope-Regular.ttf');
}
@font-face {
  font-family: 'manrope-bold';
  src: url('/fonts/manrope/Manrope-Bold.ttf');
}
