@import './constants/colors.scss';
@import './constants/fonts.scss';

html,
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.nav {
    z-index: 1;
    position: relative;
    padding: 1rem 3rem;
    background-color: $MAIN_COLOR;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'lemon-milk';
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    div {
        display: inherit;
        justify-content: flex-end;
        gap: 10vw;
        width: 90%;
        font-size: 15px;
    }
}

.footer {
    background-color: $MAIN_COLOR;
    display: flex;
    padding: 2vw 10vw;
    opacity: 0.9;
    text-align: left;
    color: white;
    font-family: 'manrope';
    justify-content: space-between;

    b {
        font-size: 1.8vw;
        font-family: 'manrope-bold';
    }

    p {
        font-size: 1.6vw;
    }

    #align-center {
        align-self: center;
    }

    #reach {
        font-size: 1.2vw;
    }

    span {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}
