@import './constants/fonts.scss';
@import './constants/colors.scss';
@import './constants/dimensions.scss';

.container {
    min-height: 100vh;
    margin: 0;
    background-image: url('/images/homepage/background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
}

#banner {
    position: relative;
    z-index: 0;
    background-color: $SECONDARY_COLOR;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5rem 7rem;
    font-family: 'lemon-milk';
    text-align: left;
    p {
        margin: 0;
        font-size: 3.6vw;
    }

    button {
        font-family: 'lemon-milk';
        font-size: 1.4vw;

        &:hover {
            background-color: $SECONDARY_COLOR !important;
        }
        &:active {
            background-color: $TERTIARY_COLOR !important;
        }
    }

    .pic {
        position: absolute;
        margin: 0;
        width: 34vw;
        height: 22vw;
    }

    #pic1 {
        bottom: -5px;
        right: 7vw;
    }

    #pic2 {
        bottom: -14vw;
        right: 24vw;
    }

    @media screen and (max-width: $MOBILE_DEVICE_WIDTH) {
        text-align: center;

        p {
            font-size: 5.5vw;
        }

        button {
            width: 17.3vw !important;
            height: 5.3vw !important;
            font-size: 2vw;
        }

        .pic {
            margin: auto;
            margin-top: 5vw;
            position: relative;
            bottom: 0 !important;
            right: 0 !important;
            width: 65vw;
            height: 40vw;
        }

        #pic2 {
            margin-top: 0 !important;
            top: -2vw;
        }
    }
}

#home-text {
    padding: 25vw 0 10vw 7vw;
    max-width: 50%;
    text-align: left;
    margin-top: 2vw;
    margin-bottom: 6vw;

    h1 {
        font-style: 'lemon-milk-bold';
        font-size: 4rem;
        margin: 0;
    }

    p,
    b {
        font-family: 'manrope';
        font-size: 1.4rem;
        font-weight: 400;
        margin: 2rem 0 0 0;
        text-align: justify;
    }

    @media screen and (max-width: $MOBILE_DEVICE_WIDTH) {
        text-align: center;
        max-width: 100% !important;
        padding: 6vw 10vw;
    }
}
